.contenitore {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page {
  height: 100vw;
  background: linear-gradient(
    90deg,
    rgba(45, 45, 45, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(45, 45, 45, 1) 100%
  );
}
