.sfondologin{
    /* background-image: url(/public/img/progetto-senza-titolo.png); */
    background:linear-gradient( rgba(2, 2, 2, 0.406),rgba(0, 0, 0, 0.402))  ,url(../../../public/img/progetto-senza-titolo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
}

  .cardLogin{
      height: 550px;
      width: 550px;
      background-color: rgba(0, 0, 0, 0.858) !important;
      border: solid 2px;
      border-radius: 10px;
  }
.larghezza{
    width: 300px;
}
